* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    color: #000;
    background-color: #f5f5f5;
}

.container {
    width: 100%;
    height: 100dvh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.qrcode-form {
    width: 300px;
    padding: 10px;
    gap: .95rem;
    display: flex;
    flex-direction: column;
}

.qrcode-form h1 {
    text-align: center;
    color: #0000ff;
}

.qrcode-form .input-container {
    width: 100%;
    overflow: hidden;
    border: 2px solid #0000ff;
    border-radius: 5px;
    
    input {
        width: 100%;
        padding: 12px;
        border: none;
        outline: none;
        font-size: .95rem;
        background-color: transparent;
        height: 100%;
    }
}

.qrcode-form button {
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #0000ff;
    color: #f5f5f5;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
        opacity: .8;
    }
}

.qrcode-form .image-area img {
    width: 100%;
    height: 100%;
}

#qrcode-image {
    display: none;
}